sudo: required

language: go
go: "1.11.5"

services:
  - docker

before_install:
  - if build/is-release-branch.sh $TRAVIS_BRANCH; then 
      sudo apt-get install -y apt-transport-https ca-certificates software-properties-common python3-pip python3-dev build-essential;
      sudo pip3 install --upgrade pip;
      pip3 install --upgrade awscli --user;
    fi

jobs:
  include:
    - stage: tests
      script: make find-missing-license && make test-go
      name: "Go tests"
    - stage: "Release Checks"
      if: branch =~ /^[0-9]\.[0-9]$/
      script: make find-missing-version
    - stage: "Deploy Images and CLI"
      if: branch = master OR branch =~ /^[0-9]\.[0-9]$/
      script: make build-images && make test-python && make push-images && make build-and-upload-cli
    

