version: 2

jobs:
  test:
    docker:
      - image: circleci/golang:1.11.5
    steps:
      - checkout
      - run:
          name: Go Lint
          command: make lint-go
      - run:
          name: License Test
          command: make find-missing-license
      - run:
          name: Go Tests
          command: make test-go
  test-release:
    docker:
      - image: circleci/golang:1.11.5
    steps:
      - checkout
      - run:
          name: Version Test
          command: make find-missing-version
  deploy:
    docker:
      - image: circleci/golang:1.11.5
    steps:
      - run: curl -s "https://s3.amazonaws.com/aws-cli/awscli-bundle.zip" -o "awscli-bundle.zip" && unzip awscli-bundle.zip && sudo ./awscli-bundle/install -i /usr/local/aws -b /usr/local/bin/aws && rm -rf awscli-bundle*
      - checkout
      - setup_remote_docker
      - run: make build-images
      - run: make test-python
      - run: make push-images
      - run: make build-and-upload-cli

workflows:
  version: 2
  build_and_test:
    jobs:
      - test
      - test-release:
          filters:
            branches:
              only:
                - /^[0-9]\.[0-9]$/
      - deploy-approval:
          type: approval
          requires:
            - test
            - test-release
          filters:
            branches:
              only:
                - /^[0-9]\.[0-9]$/
      - deploy:
          requires:
            - test
            - test-release
            - deploy-approval
          filters:
            branches:
              only:
                - /^[0-9]\.[0-9]$/
                - master
