version: 2

jobs:
  test:
    docker:
      - image: circleci/python:3.7.2-stretch
    steps:
      - checkout
      - run: wget https://dl.google.com/go/go1.11.5.linux-amd64.tar.gz && sudo tar -C /usr/local -xzf go1.11.5.linux-amd64.tar.gz && rm -rf go*.tar.gz && echo 'export PATH=$PATH:/usr/local/go/bin' >> $BASH_ENV && echo 'export PATH=$PATH:~/go/bin' >> $BASH_ENV
      - run: go get -u -v golang.org/x/lint/golint
      - run: sudo pip3 install black
      - run:
          name: Lint
          command: make lint
      - run:
          name: License Test
          command: make find-missing-license
      - run:
          name: Go Tests
          command: make test-go
  test-release:
    docker:
      - image: circleci/python:3.7.2-stretch
    steps:
      - checkout
      - run:
          name: Version Test
          command: make find-missing-version
  deploy:
    docker:
      - image: circleci/python:3.7.2-stretch
    steps:
      - run: wget https://dl.google.com/go/go1.11.5.linux-amd64.tar.gz && sudo tar -C /usr/local -xzf go1.11.5.linux-amd64.tar.gz && rm -rf go*.tar.gz && echo 'export PATH=$PATH:/usr/local/go/bin' >> $BASH_ENV && echo 'export PATH=$PATH:~/go/bin' >> $BASH_ENV
      - run: sudo pip3 install awscli
      - checkout
      - setup_remote_docker
      - run: make build-images
      - run: make test-python
      - run: make push-images
      - run: make build-and-upload-cli

workflows:
  version: 2
  build_and_test:
    jobs:
      - test
      - test-release:
          filters:
            branches:
              only:
                - /^[0-9]\.[0-9]$/
      - deploy-approval:
          type: approval
          requires:
            - test
            - test-release
          filters:
            branches:
              only:
                - /^[0-9]\.[0-9]$/
      - deploy:
          requires:
            - test
            - test-release
            - deploy-approval
          filters:
            branches:
              only:
                - /^[0-9]\.[0-9]$/
                - master
