version: 2.1

commands:
  return-if-not-deployed-branch:
    description: >-
      Exit and succeed this build step if it should not deploy images to DockerHub / upload CLI to AWS
    steps:
      - run:
          name: Exit build step if should not be deployed
          command: |
            if ! ([[ "$CIRCLE_BRANCH" =~ ^[0-9]\.[0-9]$ ]] || [[ "$CIRCLE_BRANCH" == "master" ]]); then
              echo "Exiting build step for branch which should not be deployed"
              circleci step halt
            fi
  install-go:
    steps:
      - run:
          name: Install Go
          command: |
            wget https://dl.google.com/go/go1.11.5.linux-amd64.tar.gz
            sudo tar -C /usr/local -xzf go1.11.5.linux-amd64.tar.gz
            rm -rf go*.tar.gz
            echo 'export PATH=$PATH:/usr/local/go/bin' >> $BASH_ENV
            echo 'export PATH=$PATH:~/go/bin' >> $BASH_ENV

jobs:
  test:
    docker:
      - image: circleci/python:3.7.2-stretch
    steps:
      - checkout
      - install-go
      - run: GO111MODULE=off go get -u -v golang.org/x/lint/golint
      - run: sudo pip3 install black
      - run:
          name: Lint
          command: make lint
      - run:
          name: Go Tests
          command: make test-go
  test-release:
    docker:
      - image: circleci/python:3.7.2-stretch
    steps:
      - checkout
      - run:
          name: Version Test
          command: make find-missing-version
  build-and-deploy:
    docker:
      - image: circleci/python:3.7.2-stretch
    steps:
      - setup_remote_docker
      - install-go
      - checkout
      - run: make build-images
      - run: make build-cli
      - run: make test-python
      - return-if-not-deployed-branch
      - run: sudo pip3 install awscli
      - run: make push-images
      - run: make build-and-upload-cli

workflows:
  version: 2.1
  build:
    jobs:
      - test
      - test-release:
          filters:
            branches:
              only:
                - /^[0-9]\.[0-9]$/
      - build-and-deploy-approval:
          type: approval
          requires:
            - test
            - test-release
          filters:
            branches:
              only:
                - /^[0-9]\.[0-9]$/
      - build-and-deploy:
          requires:
            - test
            - test-release
            - build-and-deploy-approval
