cloudpickle==1.2.2
joblib==0.14.0
Keras==2.3.1
nltk==3.4.5
np-utils==0.5.11.1
pandas==0.25.3
Pillow==6.2.1
scikit-image==0.16.2
scikit-learn==0.21.3
scipy==1.3.1
six==1.13.0
statsmodels==0.10.1
sympy==1.4
tensor2tensor==1.14.1
tensorflow-hub==0.7.0
tensorflow==2.0.0
torch==1.3.1
torchvision==0.4.2
xgboost==0.90

flask-api==1.1
flask==1.1.1
waitress==1.4.0
