{
    "Rules": [
      {
        "Expiration": {
          "Days": 7
        },
        "ID": "async-workloads-expiry-policy",
        "Prefix": "{{ env["CORTEX_CLUSTER_NAME"] }}/workloads/",
        "Status": "Enabled"
      }
    ]
  }
