# Copyright 2019 Cortex Labs, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

apiVersion: v1
kind: ServiceAccount
metadata:
  name: fluentd
  namespace: $CORTEX_NAMESPACE
  labels:
    app: fluentd
---

apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: fluentd
  namespace: $CORTEX_NAMESPACE
rules:
- apiGroups: [\"\"]
  resources: [pods]
  verbs: [get, list, watch]
---

apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: fluentd
  namespace: $CORTEX_NAMESPACE
subjects:
- kind: ServiceAccount
  name: fluentd
  namespace: $CORTEX_NAMESPACE
roleRef:
  kind: Role
  name: fluentd
  apiGroup: rbac.authorization.k8s.io
---

apiVersion: v1
kind: ConfigMap
metadata:
  name: fluentd
  namespace: $CORTEX_NAMESPACE
data:
  fluent.conf: |
    <match fluent.**>
      @type null
    </match>
    <source>
      @type tail
      enable_stat_watcher false
      path /var/log/containers/**_$CORTEX_NAMESPACE}_**.lo
      pos_file /var/log/fluentd-containers.log.pos
      time_format %Y-%m-%dT%H:%M:%S.%NZ
      tag *
      format json
      read_from_head true
    </source>
    <match **>
      @type cloudwatch_logs
      log_group_name \"#{ENV['LOG_GROUP_NAME']}\"
      auto_create_stream true
      use_tag_as_stream true
    </match>
---

apiVersion: extensions/v1beta1
kind: DaemonSet
metadata:
  name: fluentd
  namespace: $CORTEX_NAMESPACE
spec:
  template:
    metadata:
      labels:
        app: fluentd
    spec:
      serviceAccountName: fluentd
      initContainers:
        - name: copy-fluentd-config
          image: busybox
          command: ['sh', '-c', 'cp /config-volume/* /etc/fluentd']
          volumeMounts:
            - name: config-volume
              mountPath: /config-volume
            - name: config
              mountPath: /etc/fluentd
      containers:
      - name: fluentd
        image: $CORTEX_IMAGE_FLUENTD
        imagePullPolicy: Always
        env:
        - name: AWS_REGION
          value: $CORTEX_REGION
        - name: LOG_GROUP_NAME
          value: $CORTEX_LOG_GROUP
        - name: AWS_ACCESS_KEY_ID
          valueFrom:
            secretKeyRef:
              name: aws-credentials
              key: AWS_ACCESS_KEY_ID
        - name: AWS_SECRET_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: aws-credentials
              key: AWS_SECRET_ACCESS_KEY
        volumeMounts:
        - name: varlog
          mountPath: /var/log
        - name: varlibdockercontainers
          mountPath: /var/lib/docker/containers
          readOnly: true
        - name: config
          mountPath: /fluentd/etc
      terminationGracePeriodSeconds: 30
      volumes:
      - name: varlog
        hostPath:
          path: /var/log
      - name: varlibdockercontainers
        hostPath:
          path: /var/lib/docker/containers
      - name: config
        emptyDir: {}
      - name: config-volume
        configMap:
          name: fluentd
